pandas
numpy
scikit-learn
xgboost
imbalanced-learn
sentence-transformers
shap
optuna
pymupdf
streamlit>=1.32.0
groq
python-dotenv
joblib
matplotlib
seaborn
spacy
langchain
tqdm
huggingface_hub
altair>=5.0.0
